---
- name: Restart Caddy
  systemd:
    name: caddy
    state: restarted
    daemon_reload: yes

- name: Reload systemd
  systemd:
    daemon_reload: yes

- name: Reload Caddy
  systemd:
    name: caddy
    state: reloaded
