{
  admin 0.0.0.0:2019
  {% if lookup('env', 'DOMAIN') %}
  email {{ lookup('env', 'DOMAIN_EMAIL') | default('admin@' + lookup('env', 'DOMAIN')) }}
  {% endif %}
}

{% if lookup('env', 'DOMAIN') %}
{{ lookup('env', 'DOMAIN') }} {
{% else %}
:80 {
{% endif %}
  bind fd/3 fd/4 fdgram/5
  root * /srv
  file_server
  encode gzip zstd
  
  header {
    Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
    X-Content-Type-Options "nosniff"
    X-Frame-Options "DENY"
    Referrer-Policy "strict-origin-when-cross-origin"
    Permissions-Policy "interest-cohort=()"
    -Server
  }
  
  log {
    output file /var/log/caddy/access.log {
      roll_size 100mb
      roll_keep 5
    }
    format json
  }
}
